<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
<div class="container">
    <h1>All Products</h1>
    <div>
        <a href="/products/new">Add Product</a>
    </div>
    <% for (let product of allProducts) { %>
        <div class="card container" mb-3>
            <div class="row">
                <div class="col-md-4">
                    <img class="img-fluid" alt="" src= "<%=product.image %>">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= product.title %>
                        </h5>
                        <p class="card-text"><%= product.description %></p>
                        <p class="card-text">
                            <small class='text-muted'><%= product.location %></small>
                        </p>
                        <a href="/products/<%= product._id%>">Check it</a>
                    </div>
                </div>
            </div>
        </div>            
    <% } %>
</div>
<%-include('../partials/footer') %>