<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
    <h1><%= product.title %></h1>
    <h2><%= product.location %></h2>
    <img src=<%= product.image %> alt="equipment image">
    <p><%= product.description %></p>
    <a href="/products/<%=product._id%>/edit">Edit</a>
    <p>
      <form action="/products/<%=product._id %>?_method=DELETE" method="POST">
          <button>Delete</button>
      </form>
    </p>
    <a href="/products">All Products</a>
<%-include('../partials/footer') %>